def get(url, headers = null, body = "text") do
    httpRequest("GET", url, null, headers, body)
end

def post(url, body = null, headers = null, body = "text") do
    httpRequest("POST", url, body, headers, body)
end

def put(url, body = null, headers = null, body = "text") do
    httpRequest("PUT", url, body, headers, body)
end

